* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.7;
}
.header{
    position: relative;
    display: block;
    height: 600px;
    background-image: linear-gradient(#120b6e, #7a76c4 );
}
.header-box {
    padding: 30px;
}
.header-nav {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
}
.button-default {
    color: white;
    text-decoration: none;
    padding: 5px 1em;
    border-radius: 3px;
    transition: .2s;
    font-size: .8em;
}
.button-default:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
}
.button-default:active {
    box-shadow: none;
}
.button-transparent {
    background-color: none;
}
.button-green{
    background-color: hsl(163, 95%, 43%);
}
.button-green:hover{
    background-color: hsl(163, 96%, 50%);
}
.header-image-box {
    position: absolute;
    left: 50%;
    top: 50%;
}
.header-image {
    height: 300px;
    display: block;
    transform: translate(-50%, -50%)
}


/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft Blue: hsl(243, 86%, 85%)
- Very Dark Blue: hsl(243, 87%, 12%)

### Accent

- Green: hsl(163, 95%, 43%)
- Dark Blue: hsl(243, 58%, 33%)

### Neutral

- Gray: hsl(0, 0%, 50%)

## Typography

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

### Headings

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700 */