* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.7;
    color: #777;
}
.header{
    position: relative;
    display: block;
    height: 800px;
    background-image: linear-gradient(to bottom right ,#120b6e, #7a76c4 );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
}
.header-box {
    padding: 30px;
}
.header-nav {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
}
.button-default {
    color: white;
    text-decoration: none;
    padding: 5px 1em;
    border-radius: 3px;
    transition: .2s;
    font-size: .8em;
    margin-top: 20px;
}
.button-default:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
}
.button-default:active {
    box-shadow: none;
}
.button-transparent {
    background-color: none;
}
.button-green {
    background-color: hsl(163, 95%, 43%);
}
.button-green:hover {
    background-color: hsl(163, 96%, 50%);
}
.header-image-box{
    text-align: center;
}
.header-image{
    height: 300px;
}
/* .header-image-box {
    position: absolute;
    left: 50%;
    top: 40%;
}
.header-image {
    height: 300px;
    transform: translate(-50%, -50%)
} */
.header-title-box {
    text-align: center;
    color: white;
    display: block;
    padding: 0 30px;
    margin-top: 30px;
}
.header-title {
    font-weight: 300;
    font-size: 1.5em;
}
.button-get-started {
    color: white;
    text-decoration: none;
    padding: 5px 1em;
    border-radius: 3px;
    transition: .2s;
    font-size: 1.2em;
    margin-top: 20px;
    width: 200px;
    display: inline-block;
    background-color: hsl(163, 95%, 43%);
}
.button-get-started:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    background-color: hsl(163, 96%, 50%);
}
.button-get-started:active {
    box-shadow: none;
}

/*##### Main #####*/
.main{
    margin-top: 40px;
}
.main-intro-box{
    text-align: center;
    padding: 60px;
}
.main-intro-title{
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-size: 1.5em;
}
.main-intro-image-box{
    margin-top: 80px;
}
.main-intro-image{
    height: 220px;
}
.main-description{
    padding: 30px;
}
/* .main-description-section{

} */
.main-description-title{
    color: hsl(243, 87%, 12%);
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.main-description-section{
    margin: 40px 0;
}
.early-access-box{
    padding: 30px;
    text-align: center;
}
.early-access-title{
    color: hsl(243, 87%, 12%);
}
.early-access-text{
    color: hsl(243, 58%, 33%);
    margin: 20px 0;
}
.early-access-input{
    width: 260px;
    padding: 10px;
    margin-top: 10px;
}
input[type="submit"]{
    border: none;
}



/* ###### FOOTER ###### */
.footer{
    padding: 40px;
    background-color: hsl(243, 87%, 12%);
    margin-top: 80px;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}
.footer-logo{
    margin-top: 120px;
}
.footer-address-box{
    color: white;
    margin-top: 40px;
}
.footer-adress-ul{
    margin-top: 40px;
    list-style: none;
}
.footer-adress-li{
    margin-top: 5px;
}
.footer-adress-icon{
    margin-right: 10px;
}
/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft Blue: hsl(243, 86%, 85%)
- Very Dark Blue: hsl(243, 87%, 12%)

### Accent

- Green: hsl(163, 95%, 43%)
- Dark Blue: hsl(243, 58%, 33%)

### Neutral

- Gray: hsl(0, 0%, 50%)

## Typography

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

### Headings

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700 */